.Cancellationrefund {
    // .card {
    //   padding: 2rem;
    //   border: 1px solid #ccc;
    //   color: aquamarine;
  
    //   .h3{
    //     font-size:large;
    //     font-size: 5.1 rem;
    //     font-weight: 1000;


    //   }
    //   li{

    //     font-size: 8.4rem;
    //     font-weight: 1000;


    //   }
    // }
  
    .card2 {
      padding: 2rem;
      background-color: var(--light-blue);
      color:aqua;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: medium;
    
    
      h3{
        font-size:large;
        font-size: 5.1 rem;
        font-weight: 1000;


      }

      li{

        font-size: 8.4rem;
        font-weight: 1000;


      }
      // .icons {
      //   margin: 3rem 0;
      //   span {
      //     display: flex;
      //     justify-content: start;
      //     align-items: center;
      //     margin-bottom: 1rem;
      //     a,
      //     p {
      //       margin-left: 5px;
      //     }
      //   }
      // }
    }
  
    .section {
      display: flex;
      align-items: start;
      font-family: 'Courier New', Courier, monospace;
      font-size:larger

       .ul{
        font-size:large;
        font-size: 5.1 rem;
        font-weight: 1000;


      }
      
    }
  }
  
  @media screen and (max-width: 700px) {
    .contact {
      .section {
        flex-direction: column;
        font-size: 5.1 rem;
      }
    }
  }